.price-list {
    display: block;
}

.facet-row ul li label {
    text-align: left;
}

.add-cart-xs {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
@media (min-width: 768px) {
    .price-list {
        display: none;
    }
} 